body{
  background-color: #e9e2d0;
}
hr{
  border-style: dotted none none;
  border-color: silver;
  border-width: 5px;
  width: 2%;
  height: 0;
}
h1{
  color: #d45d79;
}
h3{
  color: #6e5773;
}

h4{
  color: #ea9085;
}
